html { 
  background: url(http://raspberrypi.local:8081/) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  display: inline-flex;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  padding: 5px; 
}

#Keyboard {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

#footerimg{
  width: 30px;
  padding: 5px;
  border-radius:3px;
}

#footerimg:hover{
  background-color: rgba(255, 255, 255, 0.5)
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
