<!DOCTYPE html>
<html>
<head>
  
    <script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</head>

<body>

    <div id = "sukiText">

        <p>Battery voltage:<p id = "voltage"></p>

    </div>

    <div id = "footer">
      <img src = "{{ url_for('static', filename='/images/text.svg') }}" onclick="displayElement('sukiText')" id = "footerimg"></img>
      <img src = "{{ url_for('static', filename='/images/keyboard.svg') }}" onclick="displayElement('Keyboard')" id = "footerimg"></img>
      <img src = "{{ url_for('static', filename='/images/console.svg') }}" onclick="displayElement('Console')" id = "footerimg"></img>
      

      <div id = "Keyboard">

      <img src = "{{ url_for('static', filename='/images/KeyboardControls.png') }}" ></img>
      
      </div>

      <div id = "Console">

        <img src = "{{ url_for('static', filename='/images/console.png') }}" ></img>
        
        </div>

    </div>


</body>

</html>